.Headings{
    
        text-align: center;
        text-decoration: underline;
        text-underline-offset:  40px;
        text-decoration-color: orange;
        text-transform: uppercase;
        
       font-size: 40px;
       letter-spacing: 2px;
    margin-bottom: 100px;
    
 
}