.card{
   padding: 40px;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: auto;
width:200px;
height:300px;


}
.icon{
 background-color: #1c939e;
 border-radius: 50%;
width:70px;


 
}
.icon :hover{
    background-color: orange;
    border-radius: 50%;
    border:none;
}
.icon i{
    color:white;
    font-size: 30px;
    padding:20px;

    
}


h3{
    text-transform: uppercase;
    border-bottom: 2px solid #1c939e; 
    padding-bottom:20px;
    margin-top:30px;
    
  
}
p{
    color:grey;
}